name: sophiread_ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - qa
      - next
    tags:
      - "v*"

jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          mamba-version: "*"
          environment-file: sophiread/environment_linux.yml
      - name: build_sophiread
        shell: bash -l {0}
        run: |
          cd sophiread
          mkdir build
          cd build
          cmake ..
          make
      - name: test_sophiread
        shell: bash -l {0}
        run: |
          cd sophiread/build
          ctest -V --output-on-failure

  macos-latest:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          mamba-version: "*"
          environment-file: sophiread/environment_mac.yml
      - name: build_sophiread
        shell: bash -l {0}
        run: |
          cd sophiread
          mkdir build
          cd build
          cmake ..
          make
      - name: test_sophiread
        shell: bash -l {0}
        run: |
          cd sophiread/build
          ctest -V --output-on-failure
